body {
    font-family: Playifair;
}
.social > li {
    text-decoration: none;
    border: solid 2px black;
    border-radius:50% ;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-right: 5px;
    padding-top: 3px;
}
.social li :hover {
    color:  rgba(190, 10, 10, 0.904) !important;
}
.social > li:hover {
    border: solid 2px rgba(190, 10, 10, 0.904);
    border-radius:50% ;
}
.social i {
    color: black !important;
}
.abonner {
    border: solid 2px black;
    border-radius: 5px 5px;
    padding: 5px 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.abonner :hover {
    color: rgba(190, 10, 10, 0.904) !important;
    border: solid 2px rgba(190, 10, 10, 0.904);
    border-radius: 5px 5px;
}
.seConnecter a{
    font-size: 18px;
    font-weight: bold;
    color: black !important;
}
.seConnecter :hover {
    color:  rgba(190, 10, 10, 0.904) !important;
}
.container > div {
    margin-right: 20px;
    margin-bottom: 30px;
}
div > h5, div > h6, div > p {
    text-align: center;
}
div > h6 {
    padding-bottom: 5px;
    color: rgb(184, 174, 174);
    font-style: italic;
    border-bottom: solid 1px rgb(184, 174, 174);
}
.listPopulaire > div {
    display: flex;
    padding: 2px;
}  
.listPopulaire > div > p {
    padding-left: 3px;
    text-align: left;
    border-bottom: solid 1px rgb(184, 174, 174) ;
}
h2 {
    padding: 0 30px 5px 30px;
    border-bottom: solid 2px black;} 
